In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sweetviz as sv

data = pd.read_csv(r'D:\Py-6\Housing.csv')
print(data)
def dataset_overview(data):
    print("Dataset Overview:\n")
    print("Shape of the dataset:", data.shape)
    print("Columns in the dataset:")
    print(data.columns.tolist())
    print("\nData types and missing values:\n")
    print(data.info())
    print("\nBasic statistical summary:\n")
    print(data.describe())
    print(data.head())
    print(data.size)
    data.isnull().sum()
def check_duplicates(data):
    duplicate_count = data.duplicated().sum()
    print(f"Number of duplicate rows: {duplicate_count}")
    return duplicate_count
def check_missing_values(data):
    missing_values = data.isnull().sum()
    print("\nMissing Values per Column:\n")
    print(missing_values)
    return missing_values
def statistical_analysis(data):
    print("\nStatistical Analysis of Numerical Columns:\n")
    numerical_columns = data.select_dtypes(include=[np.number])
    stats = {}
    for col in numerical_columns.columns:
        stats[col] = {
            'mean': numerical_columns[col].mean(),
            'median': numerical_columns[col].median(),
            'mode': numerical_columns[col].mode().iloc[0],
            'std_dev': numerical_columns[col].std()
        }
    for col, values in stats.items():
        print(f"Column: {col}")
        for stat, value in values.items():
            print(f"  {stat}: {value}")
def clean_data(data):
    data = data.drop_duplicates()
    for col in data.columns:
        if data[col].isnull().sum() > 0:
            if data[col].dtype in [np.float64, np.int64]:
                data[col].fillna(data[col].median(), inplace=True)  # For numerical columns
            else:
                data[col].fillna(data[col].mode().iloc[0], inplace=True)  # For categorical columns
    return data
if __name__ == "__main__":
    dataset_overview(data)
    duplicate_count = check_duplicates(data)
    missing_values = check_missing_values(data)
    statistical_analysis(data)
    cleaned_data = clean_data(data)
report = sv.analyze(data)
report.show_html('report3.html')

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -122.23     37.88                41.0        880.0           129.0
1        -122.22     37.86                21.0       7099.0          1106.0
2        -122.24     37.85                52.0       1467.0           190.0
3        -122.25     37.85                52.0       1274.0           235.0
4        -122.25     37.85                52.0       1627.0           280.0
...          ...       ...                 ...          ...             ...
20635    -121.09     39.48                25.0       1665.0           374.0
20636    -121.21     39.49                18.0        697.0           150.0
20637    -121.22     39.43                17.0       2254.0           485.0
20638    -121.32     39.43                18.0       1860.0           409.0
20639    -121.24     39.37                16.0       2785.0           616.0

       population  households  median_income  median_house_value  \
0           322.0       126.0         8.3252            452600.0
1          2401.0      1138.0         8.3014            358500.0
2           496.0       177.0         7.2574            352100.0
3           558.0       219.0         5.6431            341300.0
4           565.0       259.0         3.8462            342200.0
...           ...         ...            ...                 ...
20635       845.0       330.0         1.5603             78100.0
20636       356.0       114.0         2.5568             77100.0
20637      1007.0       433.0         1.7000             92300.0
20638       741.0       349.0         1.8672             84700.0
20639      1387.0       530.0         2.3886             89400.0

      ocean_proximity
0            NEAR BAY
1            NEAR BAY
2            NEAR BAY
3            NEAR BAY
4            NEAR BAY
...               ...
20635          INLAND
20636          INLAND
20637          INLAND
20638          INLAND
20639          INLAND

[20640 rows x 10 columns]
Dataset Overview:

Shape of the dataset: (20640, 10)
Columns in the dataset:
['longitude', 'latitude', 'housing_median_age', 'total_rooms', 'total_bedrooms', 'population', 'households', 'median_income', 'median_house_value', 'ocean_proximity']

Data types and missing values:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB
None

Basic statistical summary:

          longitude      latitude  housing_median_age   total_rooms  \
count  20640.000000  20640.000000        20640.000000  20640.000000
mean    -119.569704     35.631861           28.639486   2635.763081
std        2.003532      2.135952           12.585558   2181.615252
min     -124.350000     32.540000            1.000000      2.000000
25%     -121.800000     33.930000           18.000000   1447.750000
50%     -118.490000     34.260000           29.000000   2127.000000
75%     -118.010000     37.710000           37.000000   3148.000000
max     -114.310000     41.950000           52.000000  39320.000000

       total_bedrooms    population    households  median_income  \
count    20433.000000  20640.000000  20640.000000   20640.000000
mean       537.870553   1425.476744    499.539680       3.870671
std        421.385070   1132.462122    382.329753       1.899822
min          1.000000      3.000000      1.000000       0.499900
25%        296.000000    787.000000    280.000000       2.563400
50%        435.000000   1166.000000    409.000000       3.534800
75%        647.000000   1725.000000    605.000000       4.743250
max       6445.000000  35682.000000   6082.000000      15.000100

       median_house_value
count        20640.000000
mean        206855.816909
std         115395.615874
min          14999.000000
25%         119600.000000
50%         179700.000000
75%         264725.000000
max         500001.000000
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY
1      2401.0      1138.0         8.3014            358500.0        NEAR BAY
2       496.0       177.0         7.2574            352100.0        NEAR BAY
3       558.0       219.0         5.6431            341300.0        NEAR BAY
4       565.0       259.0         3.8462            342200.0        NEAR BAY
206400
Number of duplicate rows: 0

Missing Values per Column:

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

Statistical Analysis of Numerical Columns:

Column: longitude
  mean: -119.56970445736432
  median: -118.49
  mode: -118.31
  std_dev: 2.003531723502581
Column: latitude
  mean: 35.63186143410853
  median: 34.26
  mode: 34.06
  std_dev: 2.1359523974571117
Column: housing_median_age
  mean: 28.639486434108527
  median: 29.0
  mode: 52.0
  std_dev: 12.585557612111637
Column: total_rooms
  mean: 2635.7630813953488
  median: 2127.0
  mode: 1527.0
  std_dev: 2181.615251582787
Column: total_bedrooms
  mean: 537.8705525375618
  median: 435.0
  mode: 280.0
  std_dev: 421.3850700740322
Column: population
  mean: 1425.4767441860465
  median: 1166.0
  mode: 891.0
  std_dev: 1132.4621217653375
Column: households
  mean: 499.5396802325581
  median: 409.0
  mode: 306.0
  std_dev: 382.3297528316099
Column: median_income
  mean: 3.8706710029069766
  median: 3.5347999999999997
  mode: 3.125
  std_dev: 1.8998217179452732
Column: median_house_value
  mean: 206855.81690891474
  median: 179700.0
  mode: 500001.0
  std_dev: 115395.6158744132

C:\Users\Jobaer Monjur\AppData\Local\Temp\ipykernel_10316\1969214831.py:50: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].median(), inplace=True)  # For numerical columns

                                             |                                             | [  0%]   00:00 ->â€¦

Report report3.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.